*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/
out/
tmp/
temp/
*.log
*.tmp
*.swp
Thumbs.db
desktop.ini
.Spotlight-V100
.Trashes
composeApp/.kotlin/
shared/.kotlin/
composeApp/.DS_Store
shared/.DS_Store
